.App-header {
  min-height: 100vh;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.icon-button {
    color:white;
}

.icon-button:hover {
    fill:gray;
}

.bounding-box-effect {
    display: inline-flex;
    border: 2px solid black;
    margin: 3px;
    background-color: #4b5564;
}

.bounding-box-condition {
    display: inline-flex;
    border: 2px solid black;
    margin: 3px;
    background-color: #21252c;
}

.bounding-box-condition-alt {
    display: inline-flex;
    border: 2px solid black;
    margin: 3px;
    background-color: #292e36;
}

.bounding-box-filter {
    display: inline-flex;
    border: 2px solid black;
    margin: 3px;
    background-color: #111216;
}

.label {
    user-select: none;
    margin: 0px;
    margin-left: 5px;
}

.condition-label {
    user-select: none;
    margin: 0px;
    margin-left: 5px;
    font-size: 18px;
}

.text-box {
    margin: 0px;
    margin-bottom: 5px;
    margin-top: -3px;
    margin-right: 5px;
}
  

