@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;

  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.icon-button {
    color:white;
}

.icon-button:hover {
    fill:gray;
}

.bounding-box {
    display: inline-flex;
    border: 2px solid black;
    margin: 3px;
    background-color: #21252c;
}

.bounding-box-alt {
    display: inline-flex;
    border: 2px solid black;
    margin: 3px;
    background-color: #353b46;
}

.label {
    user-select: none;
    margin: 0px;
    margin-left: 5px;
}

.text-box {
    margin: 0px;
    margin-bottom: 5px;
    margin-top: -3px;
}
  

